<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../../src/img/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="../../src/img/logo.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="../../src/css/index.css">
    <link rel="stylesheet" href="../../src/css/stud.css">
    <link rel="stylesheet" href="../../src/css/responsive.css">
    <title>Stud+ - Qui sommes nous ?</title>
</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a href="../../index.html" class="navbar-brand">
                <img src="../../src/img/logo.png" class="d-inline-block align-top"
                    alt="Stud+ logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-link navbar-nav">
                    <a href="../../index.html" class="nav-link">Accueil</a>
                    <a href="./stud.html" class="active nav-link">Stud+</a>
                    <a href="./help.html" class="nav-link">Aide</a>
                </div>
            </div>
        </div>
    </nav>

    <!-- content -->
    <div class="stud">
        <h1>Stud+, Un projet pour vous !</h1>
        <div class="stud-container top">
            <p>Notre application rassemble toutes les fonctions essentielles à la gestion de la vie universitaire en un seul endroit pratique. Que vous ayez besoin
                 d'accéder à des notes de cours, de planifier votre emploi du temps, de gérer vos tâches ou de communiquer avec vos collègues ou camarades de 
                 classe, Stud+ vous permet de tout faire en un seul endroit, nous pouvons également garantir une interface utilisateur conviviale et facile à 
                 utiliser pour que vous puissiez trouver tout ce dont vous avez besoin rapidement et facilement.</p><video controls="">
                <source src="../assets/videos/video.mp4" type="video/mp4">
            </video>
        </div>
        <div class="stud-container"><img src="../assets/images/poster.png" alt="img">
            <p>Avec notre application, vous pouvez gagner du temps et rester organisé tout en profitant d'une expérience utilisateur agréable. 
                Téléchargez notre application dès maintenant et commencez à profiter de tous les avantages qu'elle offre pour faciliter votre vie sur le campus !</p>
        </div>
    </div>

    <!-- footer -->
    <footer class="footer">
        <p>©2023 by Stud+</p>
    </footer>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
</body>

</html>